@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 767px) {
    .navbar-end ul.menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-end ul.menu li {
        margin-bottom: 10px; /* Adjust spacing between items if needed */
    }
}

/* Custom CSS for responsiveness */
@media screen and (max-width: 767px) {
    .modal-box {
      width: 100%;
    }
  
    .custom-iframe {
      width: 100%;
      height: 600px; /* Adjust the height as needed */
    }
  
    .custom-button {
      margin-top: 5px;
      width: 100%;
      padding: 8px;
    }
  }
  
  /* Additional media queries for larger screens */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .modal-box {
      width: 80%;
    }
  
    .custom-iframe {
      width: 100%;
      height: 500px; /* Adjust the height as needed */
    }
  
    .custom-button {
      margin-top: 10px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .modal-box {
      width: 90%;
    }
  
    .custom-iframe {
      width: 100%;
      height: 600px; /* Adjust the height as needed */
    }
  
    .custom-button {
      margin-top: 15px;
    }
  }
  