@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 767px) {
    .navbar-end ul.menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-end ul.menu li {
        margin-bottom: 10px; /* Adjust spacing between items if needed */
    }
}

/* Custom CSS for responsiveness */
@media screen and (max-width: 767px) {
    .modal-box {
      width: 100%;
    }
  
    .custom-iframe {
      width: 100%;
      height: 600px; /* Adjust the height as needed */
    }
  
    .custom-button {
      margin-top: 5px;
      width: 100%;
      padding: 8px;
    }
  }
  
  /* Additional media queries for larger screens */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .modal-box {
      width: 80%;
    }
  
    .custom-iframe {
      width: 100%;
      height: 500px; /* Adjust the height as needed */
    }
  
    .custom-button {
      margin-top: 10px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .modal-box {
      width: 90%;
    }
  
    .custom-iframe {
      width: 100%;
      height: 600px; /* Adjust the height as needed */
    }
  
    .custom-button {
      margin-top: 15px;
    }
  }
  




  /* loading css */

  .loader {
    display: flex;
    margin-top: 280px;
    align-items: center;
    justify-content: center;
  }
  .panWrapper {
    width: 200px;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
  }
  
  .pan {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    animation: cooking 1.7s infinite;
  }
  @keyframes cooking {
    0% {
      transform: rotate(0deg);
      transform-origin: top right;
    }
    10% {
      transform: rotate(-4deg);
      transform-origin: top right;
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .food {
    position: absolute;
    width: 40%;
    height: 6px;
    background: linear-gradient(to bottom, rgb(82, 33, 33), rgb(200, 106, 106));
    left: 10px;
    border-radius: 50%;
    animation: flip 1.7s infinite;
    z-index: 2;
  }
  @keyframes flip {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-100px) rotate(180deg);
    }
    100% {
      transform: translateY(0px) rotate(360deg);
    }
  }
  .panBase {
    z-index: 3;
    width: 50%;
    height: 22px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: linear-gradient(to top, rgb(3, 156, 156), rgb(10, 191, 191));
  }
  .panHandle {
    width: 40%;
    background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(74, 74, 74));
    height: 10px;
    border-radius: 10px;
  }
  .panShadow {
    width: 70px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.21);
    margin-left: 15px;
    border-radius: 10px;
    animation: shadow 1.7s infinite;
    filter: blur(5px);
  }
  @keyframes shadow {
    0% {
      transform: scaleX(0.7);
    }
    50% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.7);
    }
  }
  

/* Verse detail page css */

.verse-details {
  
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Medium Shadow */
}

.verse-details-heading {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verse-details-section {
  margin-bottom: 1.5rem;
}

.verse-details-section-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: yellow-600; 
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verse-details-section-content {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verse-details-purport {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Medium Shadow */
  
}



  /* styles/globals.css or a dedicated CSS module */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shine 1.5s infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
